body {
  font-family: Arial;
  margin: 0;
}

header {
  background: #333;
  color: white;
  padding: 15px;
  text-align: center;
}

nav {
  background: #525252;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
  transition: color 0.5s;
}

nav a:hover {
  color: RED;
}

main {
  padding: 20px;
  padding-bottom: 60px; 
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

th {
  background: #333;
  color: white;
}

tr:hover {
  background-color: #cdcdcd;
}

form input, form textarea {
  width: 99%;
  margin: 10px 0;
  padding: 10px;
}

button {
  padding: 10px;
  background: #333;
  color: white;
  border: none;
  transition: background 0.5s;
}

button:hover {
  background: #525252;
  cursor: pointer;
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.my-name {
  color: red;
  font-weight: bold; /* اختياري لو عايز الاسم يبقى أوضح */
}

@media (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
  table, form {
    font-size: 10px;
  }
}
